// -------------------------------------
//   Respond for Medium Screen Down
// -------------------------------------

$mobile-nav-width: 250px !default;
$mobile-side-trigger-area-width: 20px !default;

.l-app {

	@include media($msd) {

		.site-banner-app-nav-button {
			display: block;
			padding-top: ($app-menu-height - 20px) / 2;
			cursor: pointer;

			path {
				@include transform(none);
				@include transition-property(all);
				@include transition-duration(.3s);
				@include transition-delay(.3s);
			}

			body.is-app-nav-active & {

				path {
					@include transform(rotate(-45deg) translateX(-6px) translateY(3px));
				}

				path:first-child {
					@include transform(rotate(45deg) translateX(2px) translateY(-2px));
				}

				path:last-child {
					@include transform(rotate(-45deg) translateX(-6px) translateY(-2px));
				}
			}
		}

		.site-banner-user-menu {
			display: none;
		}

		> .site-banner {
			position: fixed;
			height: $app-menu-height;
			width: 100%;

			.site-banner-logo {
				width: $logo-width;
				overflow: hidden;

				> * {
					width: 9988%;
				}
			}
		}

		> .app {

			> .app-logo {
				position: fixed;
				padding-left: $logo-width;
				color: $primary-color;

				a {
					color: $primary-color;
				}
			}

			> .app-menu {
				@include z-index-of(app-menu-mobile);
				@include position-sticky;
				display: none;
				top: 0;
				border-right: $logo-width*0.64 solid transparent;
				border-left: $logo-width solid transparent;
			}

			> .main {
				@include span-columns(4);
			}

			> .app-nav,
			> .site-nav {
				@include shadow;
				@include translateX(0);
				@include transition-property(transform);
				@include transition-duration(.32s);
				position: fixed !important;
				top: 0 !important;
				height: 100% !important;

				& ~ div:not([class]) {
					display: none;
				}
			}

			> .app-nav {
				@include z-index-of(app-nav-mobile);
				left: - ($mobile-nav-width + 4) * 1.86 !important;
				width: $mobile-nav-width * 1.86 !important;
				padding-left: $mobile-nav-width * (1.86 - 1);
				border-left: 8px solid transparent;

				body.is-app-nav-active & {
					@include translateX($mobile-nav-width + 4);
				}

				body.is-app-nav-active.is-site-nav-active & {
					@include translateX($mobile-nav-width + 4 + 16);
				}
			}

			> .site-nav {
				@include z-index-of(site-nav-mobile);
				left: - (($mobile-nav-width + 4) - 0) * 1.86 !important;
				width: ($mobile-nav-width - 0) * 1.86 !important;
				padding-left: ($mobile-nav-width - 0) * (1.86 - 1);

				body.is-app-nav-active & {
					@include translateX(12px);
				}

				body.is-app-nav-active.is-site-nav-active & {
					@include translateX($mobile-nav-width + 4 - 0);
				}

				ul {
					height: 100%;
					margin-left: -98px;
					padding-left: 20px;

					> * {
						padding-left: 98px;
					}
				}
			}
		}

		> .app.has-mobile-app-menu {

			> .app-logo {
				position: relative;
			}

			> .app-menu {
				position: relative;
				@include position-sticky;
				display: block;
			}
		}
	}
}

@include media($msd) {

	.has-mobile-app-menu .main {
		@include full-width-background(darken($base-background-color, 5%));

		&::before {
			height: $app-menu-height*2;
			z-index: 0;
		}
	}

	#app-nav-touch-trigger {
		@include z-index-of(touch-trigger);
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: $mobile-side-trigger-area-width;
		height: 100%;

		body.is-app-nav-active & {
			left: $mobile-nav-width - 12;
			width: 100%;
		}
	}

	#site-nav-touch-trigger {
		@include z-index-of(touch-trigger);
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;

		body.is-app-nav-active & {
			width: $mobile-side-trigger-area-width;
		}

		body.is-app-nav-active.is-site-nav-active & {
			left: $mobile-nav-width - 12;
			width: 100%;
		}
	}

	#body-dimmer {

		body.is-app-nav-active & {
			opacity: .5;
			pointer-events: auto;
		}
	}
}
