// *************************************
//
//   Application Layout
//   -> Default Page Template
//
// *************************************

$app-menu-height: $site-banner-height * .8 !default;
$logo-width: 45px;

.l-app {

	.site-banner-app-nav-button {
		display: none;
	}

	> .site-banner {
		@include z-index-of(site-banner);
		@include set-pad(0 12px);
		@include outer-container(1360px);
		position: relative;
		height: $site-banner-height;
	}

	> .app {
		@include set-pad(0);
		@include outer-container(1360px);
		position: relative;
		border-right: 12px solid transparent;
		border-left: 12px solid transparent;

		> .app-logo {
			@extend %app-logo-block;
			@include z-index-of(app-logo);
			position: relative;
			height: $app-menu-height;
			line-height: $app-menu-height;

			> * {
				@include z-index-of(app-logo);
				position: relative;
			}
		}


		> .app-menu {
			@include z-index-of(app-menu-mobile);
			@include position-sticky;
			top: 0;
			height: $app-menu-height;
		}

		> .app-nav {
			@include z-index-of(app-nav);
			position: relative;

			&::before {
				@include nav-shadow;
			}
		}


		> .site-nav {
			@include z-index-of(site-nav);
			position: fixed;

			ul {
				@include nav-shadow;
			}
		}
	}
}

#app-nav-touch-trigger {
	display: none;
}


#site-nav-touch-trigger {
	display: none;
}

@import "app_mobile";
@import "app_tablet";
@import "app_desktop";
