// -------------------------------------
//   Respond for Medium Screen Down
// -------------------------------------

$mobile-nav-width: 230px;

.l-app {

	@include media($msd) {

		> .site-banner {
			position: fixed;
			height: $app-menu-height;
			width: 100%;

			.site-banner-logo {
				width: $logo-width;
				overflow: hidden;

				> * {
					width: 9988%;
				}
			}
		}

		> .app {

			> .app-logo {
				position: fixed;
				padding-left: $logo-width;
			}

			> .app-menu {
				@include z-index-of(app-menu-mobile);
				@include position-sticky;
				display: none;
				top: 0;
				padding-right: $logo-width;
				padding-left: $logo-width;
				@include debug;
			}

			> .main {
				@include span-columns(4);
			}

			> .app-nav {
				@include z-index-of(app-nav-mobile);
				@include translateX(0);
				@include transition-property(transform);
				@include transition-duration(.32s);
				position: fixed !important;
				top: 0 !important;
				left: - $mobile-nav-width * 10 !important;
				width: $mobile-nav-width * 10 !important;
				height: 100% !important;
				padding-left: $mobile-nav-width * 9;
				@include debug(black);

				body.is-app-nav-active & {
					@include translateX($mobile-nav-width);
				}

				& ~ div:not([class]) {
					display: none;
				}
			}

			> .site-nav {
				@include z-index-of(site-nav-mobile);
				@include translateX(0);
				@include transition-property(transform);
				@include transition-duration(.32s);
				position: fixed !important;
				top: 0 !important;
				left: - $mobile-nav-width * 10 !important;
				width: $mobile-nav-width * 10 !important;
				height: 100% !important;
				padding-left: $mobile-nav-width * 9;
				@include debug(orange);

				body.is-app-nav-active & {
					@include translateX(4px);
				}

				body.is-site-nav-active & {
					@include translateX($mobile-nav-width);
				}

				& ~ div:not([class]) {
					display: none;
				}
			}
		}

		> .app.has-app-menu {

			> .app-logo {
				position: relative;
			}

			> .app-menu {
				position: relative;
				@include position-sticky;
				display: block;
			}
		}
	}
}

@include media($msd) {

	#app-nav-touch-trigger {
		@include z-index-of(trigger);
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 32px;
		height: 100%;

		body.is-app-nav-active & {
			width: 100%;
		}
	}

	#site-nav-touch-trigger {
		@include z-index-of(trigger);
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 0;
		height: 100%;

		body.is-app-nav-active & {
			width: 32px;
		}

		body.is-site-nav-active & {
			width: 100%;
		}
	}

	#body-dimmer {

		body.is-app-nav-active & {
			opacity: .5;
			pointer-events: auto;
		}
	}
}
