// -------------------------------------
//   Respond for Large Screen Up
// -------------------------------------

.l-app {

	@include media($lsu) {

		> .app {

			> .app-logo {
				@include span-columns(2);
			}

			> .app-menu {
				@include span-columns(10);
				@include omega;
			}

			> .app-nav {
				@include span-columns(2);
				@include scaleY(1);
				opacity: 1;
			}

			> .site-nav {
				@include span-columns(2);
				left: auto !important;
				right: auto !important;
				// @include dynamic width defined in page.js
				opacity: .2;
			}

			> .main {
				@include shift(2);
				@include span-columns(9);

				&.with-sidebar {
					@include span-columns(8);
				}
			}
		}
	}
}
