// -------------------------------------
//   Respond for Medium Screen Up
// -------------------------------------

.l-app {

	@include media($msu) {

		> .app {

			> .app-logo {
				@extend %app-logo-block;
				@include span-columns(2);
				@include full-width-background($primary-color, right);
				@include position-sticky;
				top: 0;
				padding: 0 5px;

				&, > * {
					@include z-index-of(app-logo);
					color: foreground-color($primary-color);
					text-align: left;
				}
			}

			> .app-menu {
				@include z-index-of(app-menu);
				@include full-width-background($base-background-color);
				@include span-columns(6);
				@include omega;
				position: relative;
				@include position-sticky;
				top: 0;
				height: $app-menu-height;
			}

			> .app-nav,
			> .site-nav {
				@include span-columns(2);
				// @include transition-property(transform, opacity);
				// @include transition-duration(.3s);
				@include transform-origin(center, top);
				position: absolute;
				@include position-sticky;
				top: $app-menu-height;
				margin-bottom: -9998px;
				opacity: 0;
			}

			> .app-nav {
				@include z-index-of(app-nav);
				@include full-width-background(rgba($base-background-color, .97), right);
				@include scaleY(0);
			}


			> .site-nav {
				@include z-index-of(site-nav);
				// @include dynamic transform defined in page.js
				left: auto !important;
				right: auto !important;
				// @include dynamic width defined in page.js
				@include debug;

				a {
					@include transition-property(all);
					@include transition-duration(.3s);
					opacity: 0;
				}

				ul {
					margin-left: -9998px;
					max-height: $app-menu-height*8.3;

					> * {
						padding-left: 9998px;
					}
				}

				display: none;

				.ready & {
					display: block;
				}
			}

			// app-nav active state
			.no-touch & > .app-logo:hover ~ .app-nav,
			.no-touch #site-nav-touch-trigger:hover ~ & > .app-nav,
			.is-app-nav-active & > .app-nav,
			.no-touch & > .app-nav:hover {
				@include scaleY(1);
				opacity: 1;
			}

			// site-nav on app-nav active state
			.no-touch & > .app-logo:hover ~ .site-nav,
			.no-touch #site-nav-touch-trigger:hover ~ & > .site-nav,
			.is-app-nav-active & > .site-nav,
			.no-touch & > .app-nav:hover ~ .site-nav {
				// @include dynamic transform defined in page.js
				opacity: .2;
			}

			// site-nav active state
			.no-touch #site-nav-touch-trigger:hover ~ & > .site-nav,
			.is-site-nav-active & > .site-nav,
			.no-touch & > .site-nav:hover {
				// @include dynamic transform defined in page.js
				opacity: 1;

				a {
					opacity: 1;
				}
			}

			// .no-touch & > .app-logo:hover ~ .site-nav,
			// .no-touch #site-nav-touch-trigger:hover ~ & > .site-nav,
			// > .app-nav:hover ~ .site-nav,
			// .no-touch & > .site-nav:hover,
			// .is-app-nav-active & > .site-nav {
			// 	opacity: 1;
			// }

			// .no-touch #site-nav-touch-trigger:hover ~ * .site-nav,
			// .is-site-nav-active .site-nav {
			// 	@include transform(translateX(flex-grid(2, 8)) scaleY(1));
			// 	opacity: 1;
			// }

			> .main {
				@include span-columns(8);
			}
		}
	}
}

@include media($msu) {

	#site-nav-touch-trigger {
		@include z-index-of(touch-trigger);
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 12px;
		height: 100%;
	}
}
