@import "compass/typography/text/replacement";
@import "compass/css3";

.site-banner {
	@include full-width-background(darken($base-background-color, 3%));

	> * {
		float: right;
		height: 100%;
	}

	h1 {
		width: 240px;
		max-width: 50%;
		padding: 8px 0;
		float: left;

		a {
			@include replace-text($site-logo);
			@include background-size(contain);
			display: block;
			width: 100%;
			height: 100%;
			background-position: 0 50%;
		}
	}
}
