<% wrap_layout :base do %>
    <section class="app has-app-menu">
      <h1 class="app-logo js-sticky"><a href="/" rel="home">Styleguide</a></h1>
      <nav class="app-menu js-sticky js-full-width-background" role="navigation" id="app-menu">
        <ul>
          <li>A</li>
          <li>B</li>
          <li>C</li>
        </ul>
      </nav>
      <nav class="app-nav js-sticky" role="navigation" id="app-nav">
        <div class="mobile-app-nav-top"></div>
        <%= partial "partials/_app_nav" %>
        <div class="mobile-app-nav-bottom">
          <a class="site-nav-trigger" href="#">apps</a>
        </div>
      </nav>
      <nav class="site-nav js-sticky" role="navigation" id="site-nav">
        <%= partial "partials/_site_nav" %>
      </nav>
      <main class="main" role="main">
<%= yield %>
      </main>
    </section>
<% end %>
