<% wrap_layout :layout do %>
    <header class="site-banner js-full-width-background" role="banner">
      <h1 class="site-banner-logo"><a href="/" rel="home">COLORGY</a></h1>
      <div class="site-banner-user-menu"><a href="/" rel="home">COLORGY</a></div>
    </header>
<%= yield %>
<% end %>
