<% wrap_layout :layout do %>
      <header class="banner" role="banner">
        <h1 class="banner-logo"><a href="/" rel="home">COLORGY</a></h1>
      </header>
      <nav class="app-nav" role="navigation" id="app-nav"></nav>
      <main role="main">
        <%= yield %>
      </main>
      <nav class="app-nav" role="navigation" id="app-nav"></nav>
<% end %>
