%ul
  =nav_link "概覽", '/overview'
  =nav_link "佈局", '/layouts'
  =nav_link "基本元件", '/basic_components'
  =nav_link "延伸元件", '/extensional_components'
  =nav_link "結構", '/structures'

%ul
  =nav_link "關於", '/about'

%ul.push-bottom
  %li= link_to 'Github', 'https://github.com/'
