---
title: Basic Components
layout: app_layout-styleguide
page_classes: "l-app"
---

%h1 2. Basic Components

%h2 2.1. Buttons

= styleblock 'buttons', section: '2.1'

%h2 2.1.1. 按鈕組

= styleblock 'button_group', section: '2.1.1'
