---
title: Welcome to Middleman
layout: app_layout
page_classes: "l-app"
---

%h1 Styleguide

%h2 1. Buttons

= styleblock 'buttons', section: '2.1'

%h2

= styleblock 'button_group', section: '2.1.1'
